__pycache__/auxFuncs.cpython-37.pyc
test.py
__pycache__/instrument_request.cpython-37.pyc
__pycache__/nselist.cpython-37.pyc
__pycache__/screenAlgo.cpython-37.pyc
__pycache__/technicalWrapper.cpython-37.pyc
screener_backend/__pycache__/__init__.cpython-37.pyc
screener_backend/__pycache__/auxFuncs.cpython-37.pyc
screener_backend/__pycache__/instrument_request.cpython-37.pyc
screener_backend/__pycache__/nselist.cpython-37.pyc
screener_backend/__pycache__/screenAlgo.cpython-37.pyc
screener_backend/__pycache__/technicalWrapper.cpython-37.pyc
screener_backend/__pycache__/bounceAlgo.cpython-37.pyc
screener_backend/__pycache__/instrument_request.cpython-36.pyc
screener_backend/__pycache__/ipbAlgo.cpython-37.pyc
__pycache__/auxFuncs.cpython-36.pyc
__pycache__/instrument_request.cpython-36.pyc
__pycache__/nselist.cpython-36.pyc
TempScan.txt
screener_backend/__pycache__/intraday_instrument_request.cpython-37.pyc
screener_backend/__pycache__/logger.cpython-37.pyc
TempScan.xlsx
screener_backend/__pycache__/trendRetracementAlgo.cpython-37.pyc
TrendRetracement_Scan.xlsx
screener_backend/__pycache__/__init__.cpython-36.pyc
screener_backend/__pycache__/nselist.cpython-36.pyc
screening_dataBuilder/rawData
screening_dataBuilder/__pycache__/
screening_dataBuilder/CreateDataScan.log
*.pyc
